# 基本数据对象及操作

## 1. Series

* 创建Series

In [1]:
import pandas as pd

countries = ['中国', '美国', '澳大利亚']
countries_s = pd.Series(countries)
print(type(countries_s))
print(countries_s)
print(countries_s.index)
print(type(countries_s.values))
print(countries_s.values)

<class 'pandas.core.series.Series'>
0      中国
1      美国
2    澳大利亚
dtype: object
RangeIndex(start=0, stop=3, step=1)
<class 'numpy.ndarray'>
['中国' '美国' '澳大利亚']

In [2]:
countries_s

0      中国
1      美国
2    澳大利亚
dtype: object

In [3]:
countries_s.head()

0      中国
1      美国
2    澳大利亚
dtype: object

In [4]:
countries_s.index

RangeIndex(start=0, stop=3, step=1)

In [5]:
countries = ['中国', '美国', '澳大利亚']
countries_s = pd.Series(countries, index=[1,2,3])
countries_s

1      中国
2      美国
3    澳大利亚
dtype: object

In [6]:
range_numbers_s = pd.Series(range(10))
range_numbers_s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [7]:
print(range_numbers_s[range_numbers_s > 6])

7    7
8    8
9    9
dtype: int64

In [8]:
range_numbers_s.values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

In [9]:
range_numbers_s.index

RangeIndex(start=0, stop=10, step=1)

In [10]:
numbers = [4, 5, 6]
numbers_s = pd.Series(numbers)
print(numbers_s)
print(numbers_s.index)
print(numbers_s.values)

0    4
1    5
2    6
dtype: int64
RangeIndex(start=0, stop=3, step=1)
[4 5 6]

In [11]:
country_dicts = {'CH': '中国',
                'US': '美国',
                'AU': '澳大利亚'}
# dict会自动把key作为索引, 和

country_dict_s = pd.Series(country_dicts)
# 给索引命名
country_dict_s.index.name = 'Code'
# 给数据命名
country_dict_s.name = 'Country'

print(country_dict_s)
print(country_dict_s.values)
print(country_dict_s.index)

Code
CH      中国
US      美国
AU    澳大利亚
Name: Country, dtype: object
['中国' '美国' '澳大利亚']
Index(['CH', 'US', 'AU'], dtype='object', name='Code')

* 处理缺失数据

In [12]:
countries = ['中国', '美国', '澳大利亚', None]
print(pd.Series(countries))

0      中国
1      美国
2    澳大利亚
3    None
dtype: object

In [13]:
numbers = [4, 5, 6, None]
print(pd.Series(numbers))

0    4.0
1    5.0
2    6.0
3    NaN
dtype: float64

* Series 索引

In [14]:
country_dicts = {'CH': '中国',
                'US': '美国',
                'AU': '澳大利亚'}

country_dict_s = pd.Series(country_dicts)
print(country_dict_s)

CH      中国
US      美国
AU    澳大利亚
dtype: object

In [15]:
print(country_dict_s.index)
print(country_dict_s['US'])
print(country_dict_s.loc['US'])
print(country_dict_s.iloc[1])

Index(['CH', 'US', 'AU'], dtype='object')
美国
美国
美国

In [16]:
print('US' in country_dict_s)

True

In [17]:
country_dict_s = country_dict_s + 'a'
country_dict_s

CH      中国a
US      美国a
AU    澳大利亚a
dtype: object

In [18]:
len(country_dict_s)

3

In [19]:
# 通过索引判断数据是存在
# Series也可看作定长、有序的字典
print('CH' in country_dict_s)
print('NZ' in country_dict_s)

True
False

In [20]:
print('iloc:', country_dict_s.iloc[1])
print('loc:', country_dict_s.loc['US'])
print('[]:', country_dict_s['US'])

iloc: 美国a
loc: 美国a
[]: 美国a

In [21]:
print(country_dict_s.iloc[0:2])
print(country_dict_s.loc[ ['CH', 'US'] ])

CH    中国a
US    美国a
dtype: object
CH    中国a
US    美国a
dtype: object

In [22]:
print('iloc:\n', country_dict_s.iloc[ [0, 2] ])
print()
print('loc:\n', country_dict_s.loc[['US', 'AU']])

iloc:
 CH      中国a
AU    澳大利亚a
dtype: object

loc:
 US      美国a
AU    澳大利亚a
dtype: object

*  向量化操作

In [23]:
import numpy as np

s = pd.Series(np.random.randint(0, 1000, 10000))
print(s.head())
print(len(s))

0    137
1    624
2    773
3    333
4     56
dtype: int32
10000

In [24]:
%%timeit -n 100
total = 0
for item in s:
    total += item

490 µs ± 33.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [25]:
%%timeit -n 100
total = np.sum(s)

82 µs ± 12.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [26]:
%%timeit -n 10
s = pd.Series(np.random.randint(0, 1000, 1000))
for label, value in s.iteritems():
    s.loc[label] = value + 2

105 ms ± 10.6 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [27]:
%%timeit -n 10
s = pd.Series(np.random.randint(0, 1000, 10000))
s += 2

208 µs ± 81.1 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

## 2. DataFrame

* 创建Dataframe

In [28]:
import pandas as pd

country1 = pd.Series({'Name': '中国',
                    'Language': 'Chinese',
                    'Area': '9.597M km2',
                     'Happiness Rank': 79})

country2 = pd.Series({'Name': '美国',
                    'Language': 'English (US)',
                    'Area': '9.834M km2',
                     'Happiness Rank': 14})

country3 = pd.Series({'Name': '澳大利亚',
                    'Language': 'English (AU)',
                    'Area': '7.692M km2',
                     'Happiness Rank': 9})

country4 = pd.Series({'Name': '澳大利亚',
                    'Language': 'English (AU)',
                    'Area': '7.692M km2',
                     'Happiness Rank': 9})

df = pd.DataFrame([country1, country2, country3], index=['CH', 'US', 'AU'])

In [29]:
# 注意在jupyter中使用print和不使用print的区别
print(df)
df

    Name      Language        Area  Happiness Rank
CH    中国       Chinese  9.597M km2              79
US    美国  English (US)  9.834M km2              14
AU  澳大利亚  English (AU)  7.692M km2               9

    Name      Language        Area  Happiness Rank
CH    中国       Chinese  9.597M km2              79
US    美国  English (US)  9.834M km2              14
AU  澳大利亚  English (AU)  7.692M km2               9

In [30]:
n = np.arange(0, 30, 2).reshape(5, 3)
n

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16],
       [18, 20, 22],
       [24, 26, 28]])

In [31]:
n_df = pd.DataFrame(n, columns=['one', 'two', 'three'])
n_df

   one  two  three
0    0    2      4
1    6    8     10
2   12   14     16
3   18   20     22
4   24   26     28

In [32]:
#n_df.head()
#n_df.tail()
n_df.describe()

             one        two      three
count   5.000000   5.000000   5.000000
mean   12.000000  14.000000  16.000000
std     9.486833   9.486833   9.486833
min     0.000000   2.000000   4.000000
25%     6.000000   8.000000  10.000000
50%    12.000000  14.000000  16.000000
75%    18.000000  20.000000  22.000000
max    24.000000  26.000000  28.000000

In [33]:
import pandas as pd
dt = {0: [9, 8, 7, 6], 1: [3, 2, 1, 0]}
a = pd.DataFrame(dt)
a

   0  1
0  9  3
1  8  2
2  7  1
3  6  0

In [34]:
list(a[1])

[3, 2, 1, 0]

In [35]:
print(type(df.loc['CH']))

<class 'pandas.core.series.Series'>

In [36]:
print(type(df['Name']))

<class 'pandas.core.series.Series'>

In [37]:
# 添加数据
# 如果个数小于要求的个数，会自动进行“广播”操作
# 如果大于要求的个数，会报错
df['Location'] = '地球'
print(df)

df['Region'] = ['亚洲', '北美洲', '大洋洲']
df['raw_index'] = [i for i in range(len(df))]
# print(df)
df

    Name      Language        Area  Happiness Rank Location
CH    中国       Chinese  9.597M km2              79       地球
US    美国  English (US)  9.834M km2              14       地球
AU  澳大利亚  English (AU)  7.692M km2               9       地球

    Name      Language        Area  Happiness Rank Location Region  raw_index
CH    中国       Chinese  9.597M km2              79       地球     亚洲          0
US    美国  English (US)  9.834M km2              14       地球    北美洲          1
AU  澳大利亚  English (AU)  7.692M km2               9       地球    大洋洲          2

* Dataframe索引

In [38]:
df.loc['CH']

Name                      中国
Language             Chinese
Area              9.597M km2
Happiness Rank            79
Location                  地球
Region                    亚洲
raw_index                  0
Name: CH, dtype: object

In [39]:
df.iloc[0]

Name                      中国
Language             Chinese
Area              9.597M km2
Happiness Rank            79
Location                  地球
Region                    亚洲
raw_index                  0
Name: CH, dtype: object

In [40]:
print(df['Happiness Rank'] < 10)
print(df[df['Happiness Rank'] < 10])

CH    False
US    False
AU     True
Name: Happiness Rank, dtype: bool
    Name      Language        Area  Happiness Rank Location Region  raw_index
AU  澳大利亚  English (AU)  7.692M km2               9       地球    大洋洲          2

In [41]:
print(df.iloc[1:3])
print(df[['Name', 'Area', 'Happiness Rank']])

    Name      Language        Area  Happiness Rank Location Region  raw_index
US    美国  English (US)  9.834M km2              14       地球    北美洲          1
AU  澳大利亚  English (AU)  7.692M km2               9       地球    大洋洲          2
    Name        Area  Happiness Rank
CH    中国  9.597M km2              79
US    美国  9.834M km2              14
AU  澳大利亚  7.692M km2               9

In [42]:
df['Location'] = 'Earth'
df

    Name      Language        Area  Happiness Rank Location Region  raw_index
CH    中国       Chinese  9.597M km2              79    Earth     亚洲          0
US    美国  English (US)  9.834M km2              14    Earth    北美洲          1
AU  澳大利亚  English (AU)  7.692M km2               9    Earth    大洋洲          2

In [43]:
df['Region'] = ['Asia', 'North America', 'Ocean']
df

,Name,Language,Area,Happiness Rank,Location,Region,raw_index
CH,中国,Chinese,9.597M km2,79,Earth,Asia,0
US,美国,English (US),9.834M km2,14,Earth,North America,1
AU,澳大利亚,English (AU),7.692M km2,9,Earth,Ocean,2

In [44]:
df.loc[df['Happiness Rank'] > 70, 'Happiness Rank'] = 70
df

,Name,Language,Area,Happiness Rank,Location,Region,raw_index
CH,中国,Chinese,9.597M km2,70,Earth,Asia,0
US,美国,English (US),9.834M km2,14,Earth,North America,1
AU,澳大利亚,English (AU),7.692M km2,9,Earth,Ocean,2

In [45]:
# 行索引
print('loc:')
print(df.loc['CH'])
print(type(df.loc['CH']))

print('iloc:')
print(df.iloc[1])

loc:
Name                      中国
Language             Chinese
Area              9.597M km2
Happiness Rank            70
Location               Earth
Region                  Asia
raw_index                  0
Name: CH, dtype: object
<class 'pandas.core.series.Series'>
iloc:
Name                         美国
Language           English (US)
Area                 9.834M km2
Happiness Rank               14
Location                  Earth
Region            North America
raw_index                     1
Name: US, dtype: object

In [46]:
# 列索引
print(df['Area'])
print(type(df['Area']))

CH    9.597M km2
US    9.834M km2
AU    7.692M km2
Name: Area, dtype: object
<class 'pandas.core.series.Series'>

In [47]:
# 获取不连续的列数据
print(df[['Name', 'Area']])

    Name        Area
CH    中国  9.597M km2
US    美国  9.834M km2
AU  澳大利亚  7.692M km2

In [48]:
# 混合索引
# 注意写法上的区别
# 不管是先行还是先列, 拿出之后都是一个Series, 之后的访问就可以多种多样了
print('先取出列，再取行：')
print(df['Area']['CH'])
print(df['Area'].loc['CH'])
print(df['Area'].iloc[0])

print('先取出行，再取列：')
print(df.loc['CH']['Area'])
print(df.iloc[0]['Area'])
print(df.loc['CH'].loc['Area'])
print(df.loc['CH'].iloc[0])

先取出列，再取行：
9.597M km2
9.597M km2
9.597M km2
先取出行，再取列：
9.597M km2
9.597M km2
9.597M km2
中国

In [49]:
# 转换行和列
print(df.T)

                        CH             US            AU
Name                    中国             美国          澳大利亚
Language           Chinese   English (US)  English (AU)
Area            9.597M km2     9.834M km2    7.692M km2
Happiness Rank          70             14             9
Location             Earth          Earth         Earth
Region                Asia  North America         Ocean
raw_index                0              1             2

* 删除数据

In [52]:
print(df.drop(['CH']))
# 注意drop操作只是将修改后的数据copy一份，而不会对原始数据进行修改
print(df)
df = df.drop(['CH'])

KeyError: "labels ['CH'] not contained in axis"

In [54]:
print(df.drop(['CH'], inplace=True))
# 如果使用了inplace=True，会在原始数据上进行修改，同时不会返回一个copy
print(df)

KeyError: "labels ['CH'] not contained in axis"

In [ ]:
#  如果需要删除列，需要指定axis=1
print(df.drop(['Area'], axis=1))
print(df)

In [ ]:
# 也可直接使用del关键字
del df['Name']
print(df)

* DataFrame的操作与加载

In [56]:
df['Happiness Rank']

US    14
AU     9
Name: Happiness Rank, dtype: int64

In [57]:
# 注意从DataFrame中取出的数据进行操作后，会对原始数据产生影响
ranks = df['Happiness Rank']
ranks += 2
print(ranks)
print(df)

US    16
AU    11
Name: Happiness Rank, dtype: int64
    Name      Language        Area  Happiness Rank Location         Region  \
US    美国  English (US)  9.834M km2              16    Earth  North America
AU  澳大利亚  English (AU)  7.692M km2              11    Earth          Ocean

    raw_index
US          1
AU          2

In [58]:
# 注意从DataFrame中取出的数据进行操作后，会对原始数据产生影响
# 安全的操作是使用copy()
ranks = df['Happiness Rank'].copy()
ranks += 2
print(ranks)
print(df)

US    18
AU    13
Name: Happiness Rank, dtype: int64
    Name      Language        Area  Happiness Rank Location         Region  \
US    美国  English (US)  9.834M km2              16    Earth  North America
AU  澳大利亚  English (AU)  7.692M km2              11    Earth          Ocean

    raw_index
US          1
AU          2

In [59]:
# 加载csv文件数据
reprot_2015_df = pd.read_csv('./2015.csv')
print('2015年数据预览：')
#print(reprot_2015_df.head())
reprot_2015_df.head()

2015年数据预览：

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [60]:
reprot_2015_df = pd.read_csv('./2015.csv', index_col='Happiness Rank')
print('2015年数据预览：')
reprot_2015_df.head(10)

2015年数据预览：

,Country,Region,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
Happiness Rank,,,,,,,,,,,
1,Switzerland,Western Europe,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
2,Iceland,Western Europe,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
3,Denmark,Western Europe,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
4,Norway,Western Europe,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
5,Canada,North America,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
6,Finland,Western Europe,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
7,Netherlands,Western Europe,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
8,Sweden,Western Europe,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
9,New Zealand,Australia and New Zealand,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425
10,Australia,Australia and New Zealand,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646

In [61]:
print(reprot_2015_df.info())
reprot_2015_df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 1 to 158
Data columns (total 11 columns):
Country                          158 non-null object
Region                           158 non-null object
Happiness Score                  158 non-null float64
Standard Error                   158 non-null float64
Economy (GDP per Capita)         158 non-null float64
Family                           158 non-null float64
Health (Life Expectancy)         158 non-null float64
Freedom                          158 non-null float64
Trust (Government Corruption)    158 non-null float64
Generosity                       158 non-null float64
Dystopia Residual                158 non-null float64
dtypes: float64(9), object(2)
memory usage: 14.8+ KB
None

,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

## 3. 索引

In [67]:
# 使用index_col指定索引列
# 使用usecols指定需要读取的列
report_2016_df = pd.read_csv('./2016.csv', 
                             index_col='Country',
                             usecols=['Country', 'Happiness Rank', 'Happiness Score', 'Region'])
reprot_2016_df = pd.read_csv('./2016.csv', 
                             index_col='Country',
                             usecols=['Country', 'Happiness Rank', 'Happiness Score', 'Region'])
# 数据预览
report_2016_df.head()

                     Region  Happiness Rank  Happiness Score
Country
Denmark      Western Europe               1            7.526
Switzerland  Western Europe               2            7.509
Iceland      Western Europe               3            7.501
Norway       Western Europe               4            7.498
Finland      Western Europe               5            7.413

In [68]:
print('列名(column)：', report_2016_df.columns)
print('行名(index)：', report_2016_df.index)

列名(column)： Index(['Region', 'Happiness Rank', 'Happiness Score'], dtype='object')
行名(index)： Index(['Denmark', 'Switzerland', 'Iceland', 'Norway', 'Finland', 'Canada',
       'Netherlands', 'New Zealand', 'Australia', 'Sweden',
       ...
       'Madagascar', 'Tanzania', 'Liberia', 'Guinea', 'Rwanda', 'Benin',
       'Afghanistan', 'Togo', 'Syria', 'Burundi'],
      dtype='object', name='Country', length=157)

In [69]:
# 注意index是不可变的
#report_2016_df.index[0] = '丹麦'

In [70]:
# 重置index
# 注意inplace加与不加的区别
reprot_2016_df.reset_index(inplace=True)

In [71]:
report_2016_df.head()

                     Region  Happiness Rank  Happiness Score
Country
Denmark      Western Europe               1            7.526
Switzerland  Western Europe               2            7.509
Iceland      Western Europe               3            7.501
Norway       Western Europe               4            7.498
Finland      Western Europe               5            7.413

In [72]:
print(report_2016_df.index)

Index(['Denmark', 'Switzerland', 'Iceland', 'Norway', 'Finland', 'Canada',
       'Netherlands', 'New Zealand', 'Australia', 'Sweden',
       ...
       'Madagascar', 'Tanzania', 'Liberia', 'Guinea', 'Rwanda', 'Benin',
       'Afghanistan', 'Togo', 'Syria', 'Burundi'],
      dtype='object', name='Country', length=157)

In [73]:
# 重命名列名
report_2016_df = report_2016_df.rename(columns={'Region': '地区', 'Hapiness Rank': '排名', 'Hapiness Score': '幸福指数'})
report_2016_df.head()

                         地区  Happiness Rank  Happiness Score
Country
Denmark      Western Europe               1            7.526
Switzerland  Western Europe               2            7.509
Iceland      Western Europe               3            7.501
Norway       Western Europe               4            7.498
Finland      Western Europe               5            7.413

In [74]:
# 重命名列名，注意inplace的使用
report_2016_df.rename(columns={'Region': '地区', 'Happiness Rank': '排名', 'Happiness Score': '幸福指数'},
                     inplace=True)
report_2016_df.head()

                         地区  排名   幸福指数
Country
Denmark      Western Europe   1  7.526
Switzerland  Western Europe   2  7.509
Iceland      Western Europe   3  7.501
Norway       Western Europe   4  7.498
Finland      Western Europe   5  7.413

## 4. Boolean Mask

In [75]:
report_2016_df.head(20)

                                            地区  排名   幸福指数
Country
Denmark                         Western Europe   1  7.526
Switzerland                     Western Europe   2  7.509
Iceland                         Western Europe   3  7.501
Norway                          Western Europe   4  7.498
Finland                         Western Europe   5  7.413
Canada                           North America   6  7.404
Netherlands                     Western Europe   7  7.339
New Zealand          Australia and New Zealand   8  7.334
Australia            Australia and New Zealand   9  7.313
Sweden                          Western Europe  10  7.291
Israel         Middle East and Northern Africa  11  7.267
Austria                         Western Europe  12  7.119
United States                    North America  13  7.104
Costa Rica         Latin America and Caribbean  14  7.087
Puerto Rico        Latin America and Caribbean  15  7.039
Germany                         Western Europe  16  6.994
Brazil             Latin America and Caribbean  17  6.952
Belgium                         Western Europe  18  6.929
Ireland                         Western Europe  19  6.907
Luxembourg                      Western Europe  20  6.871

In [76]:
report_2016_df.tail(20)

                                           地区   排名   幸福指数
Country
Comoros                    Sub-Saharan Africa  138  3.956
Ivory Coast                Sub-Saharan Africa  139  3.916
Cambodia                    Southeastern Asia  140  3.907
Angola                     Sub-Saharan Africa  141  3.866
Niger                      Sub-Saharan Africa  142  3.856
South Sudan                Sub-Saharan Africa  143  3.832
Chad                       Sub-Saharan Africa  144  3.763
Burkina Faso               Sub-Saharan Africa  145  3.739
Uganda                     Sub-Saharan Africa  145  3.739
Yemen         Middle East and Northern Africa  147  3.724
Madagascar                 Sub-Saharan Africa  148  3.695
Tanzania                   Sub-Saharan Africa  149  3.666
Liberia                    Sub-Saharan Africa  150  3.622
Guinea                     Sub-Saharan Africa  151  3.607
Rwanda                     Sub-Saharan Africa  152  3.515
Benin                      Sub-Saharan Africa  153  3.484
Afghanistan                     Southern Asia  154  3.360
Togo                       Sub-Saharan Africa  155  3.303
Syria         Middle East and Northern Africa  156  3.069
Burundi                    Sub-Saharan Africa  157  2.905

In [77]:
# 过滤 Western Europe 地区的国家
# only_western_europe = reprot_2016_df['地区'] == 'Western Europe'
reprot_2016_df[reprot_2016_df['地区'] == 'Western Europe']

KeyError: '地区'

In [78]:
# 过滤 Western Europe 地区的国家
# 并且排名在10之外
only_western_europe_10 = (reprot_2016_df['地区'] == 'Western Europe') & (reprot_2016_df['排名'] > 10)
only_western_europe_10

KeyError: '地区'

In [ ]:
# 叠加 boolean mask 得到最终结果
reprot_2016_df[only_western_europe_10]

In [79]:
# 熟练以后可以写在一行中
np.mean(reprot_2016_df[(reprot_2016_df['地区'] == 'Western Europe') & (reprot_2016_df['排名'] > 10)]['幸福指数'])

KeyError: '地区'

## 5. 层级索引

In [81]:
reprot_2015_df_mi = reprot_2015_df.set_index(['Region', 'Country'])
reprot_2015_df_mi

                                                          Happiness Score  \
Region                          Country
Western Europe                  Switzerland                         7.587
                                Iceland                             7.561
                                Denmark                             7.527
                                Norway                              7.522
North America                   Canada                              7.427
Western Europe                  Finland                             7.406
                                Netherlands                         7.378
                                Sweden                              7.364
Australia and New Zealand       New Zealand                         7.286
                                Australia                           7.284
Middle East and Northern Africa Israel                              7.278
Latin America and Caribbean     Costa Rica                          7.226
Western Europe                  Austria                             7.200
Latin America and Caribbean     Mexico                              7.187
North America                   United States                       7.119
Latin America and Caribbean     Brazil                              6.983
Western Europe                  Luxembourg                          6.946
                                Ireland                             6.940
                                Belgium                             6.937
Middle East and Northern Africa United Arab Emirates                6.901
Western Europe                  United Kingdom                      6.867
Middle East and Northern Africa Oman                                6.853
Latin America and Caribbean     Venezuela                           6.810
Southeastern Asia               Singapore                           6.798
Latin America and Caribbean     Panama                              6.786
Western Europe                  Germany                             6.750
Latin America and Caribbean     Chile                               6.670
Middle East and Northern Africa Qatar                               6.611
Western Europe                  France                              6.575
Latin America and Caribbean     Argentina                           6.574
...                                                                   ...
Southeastern Asia               Myanmar                             4.307
Central and Eastern Europe      Georgia                             4.297
Sub-Saharan Africa              Malawi                              4.292
Southern Asia                   Sri Lanka                           4.271
Sub-Saharan Africa              Cameroon                            4.252
Central and Eastern Europe      Bulgaria                            4.218
Middle East and Northern Africa Egypt                               4.194
                                Yemen                               4.077
Sub-Saharan Africa              Angola                              4.033
                                Mali                                3.995
                                Congo (Brazzaville)                 3.989
                                Comoros                             3.956
                                Uganda                              3.931
                                Senegal                             3.904
                                Gabon                               3.896
                                Niger                               3.845
Southeastern Asia               Cambodia                            3.819
Sub-Saharan Africa              Tanzania                            3.781
                                Madagascar                          3.681
                                Central African Republic            3.678
                                Chad                                3.667
                                Guinea                              3.656
                                Ivory Coast                         3.655
                                Burkina Faso                        3.587
Southern Asia                   Afghanistan                         3.575
Sub-Saharan Africa              Rwanda                              3.465
                                Benin                               3.340
Middle East and Northern Africa Syria                               3.006
Sub-Saharan Africa              Burundi                             2.905
                                Togo                                2.839

                                                          Standard Error  \
Region                          Country
Western Europe                  Switzerland                      0.03411
                                Iceland                          0.04884
                                Denmark                          0.03328
                                Norway                           0.03880
North America                   Canada                           0.03553
Western Europe                  Finland                          0.03140
                                Netherlands                      0.02799
                                Sweden                           0.03157
Australia and New Zealand       New Zealand                      0.03371
                                Australia                        0.04083
Middle East and Northern Africa Israel                           0.03470
Latin America and Caribbean     Costa Rica                       0.04454
Western Europe                  Austria                          0.03751
Latin America and Caribbean     Mexico                           0.04176
North America                   United States                    0.03839
Latin America and Caribbean     Brazil                           0.04076
Western Europe                  Luxembourg                       0.03499
                                Ireland                          0.03676
                                Belgium                          0.03595
Middle East and Northern Africa United Arab Emirates             0.03729
Western Europe                  United Kingdom                   0.01866
Middle East and Northern Africa Oman                             0.05335
Latin America and Caribbean     Venezuela                        0.06476
Southeastern Asia               Singapore                        0.03780
Latin America and Caribbean     Panama                           0.04910
Western Europe                  Germany                          0.01848
Latin America and Caribbean     Chile                            0.05800
Middle East and Northern Africa Qatar                            0.06257
Western Europe                  France                           0.03512
Latin America and Caribbean     Argentina                        0.04612
...                                                                  ...
Southeastern Asia               Myanmar                          0.04351
Central and Eastern Europe      Georgia                          0.04221
Sub-Saharan Africa              Malawi                           0.06130
Southern Asia                   Sri Lanka                        0.03751
Sub-Saharan Africa              Cameroon                         0.04678
Central and Eastern Europe      Bulgaria                         0.04828
Middle East and Northern Africa Egypt                            0.03260
                                Yemen                            0.04367
Sub-Saharan Africa              Angola                           0.04758
                                Mali                             0.05602
                                Congo (Brazzaville)              0.06682
                                Comoros                          0.04797
                                Uganda                           0.04317
                                Senegal                          0.03608
                                Gabon                            0.04547
                                Niger                            0.03602
Southeastern Asia               Cambodia                         0.05069
Sub-Saharan Africa              Tanzania                         0.05061
                                Madagascar                       0.03633
                                Central African Republic         0.06112
                                Chad                             0.03830
                                Guinea                           0.03590
                                Ivory Coast                      0.05141
                                Burkina Faso                     0.04324
Southern Asia                   Afghanistan                      0.03084
Sub-Saharan Africa              Rwanda                           0.03464
                                Benin                            0.03656
Middle East and Northern Africa Syria                            0.05015
Sub-Saharan Africa              Burundi                          0.08658
                                Togo                             0.06727

                                                          Economy (GDP per Capita)  \
Region                          Country
Western Europe                  Switzerland                                1.39651
                                Iceland                                    1.30232
                                Denmark                                    1.32548
                                Norway                                     1.45900
North America                   Canada                                     1.32629
Western Europe                  Finland                                    1.29025
                                Netherlands                                1.32944
                                Sweden                                     1.33171
Australia and New Zealand       New Zealand                                1.25018
                                Australia                                  1.33358
Middle East and Northern Africa Israel                                     1.22857
Latin America and Caribbean     Costa Rica                                 0.95578
Western Europe                  Austria                                    1.33723
Latin America and Caribbean     Mexico                                     1.02054
North America                   United States                              1.39451
Latin America and Caribbean     Brazil                                     0.98124
Western Europe                  Luxembourg                                 1.56391
                                Ireland                                    1.33596
                                Belgium                                    1.30782
Middle East and Northern Africa United Arab Emirates                       1.42727
Western Europe                  United Kingdom                             1.26637
Middle East and Northern Africa Oman                                       1.36011
Latin America and Caribbean     Venezuela                                  1.04424
Southeastern Asia               Singapore                                  1.52186
Latin America and Caribbean     Panama                                     1.06353
Western Europe                  Germany                                    1.32792
Latin America and Caribbean     Chile                                      1.10715
Middle East and Northern Africa Qatar                                      1.69042
Western Europe                  France                                     1.27778
Latin America and Caribbean     Argentina                                  1.05351
...                                                                            ...
Southeastern Asia               Myanmar                                    0.27108
Central and Eastern Europe      Georgia                                    0.74190
Sub-Saharan Africa              Malawi                                     0.01604
Southern Asia                   Sri Lanka                                  0.83524
Sub-Saharan Africa              Cameroon                                   0.42250
Central and Eastern Europe      Bulgaria                                   1.01216
Middle East and Northern Africa Egypt                                      0.88180
                                Yemen                                      0.54649
Sub-Saharan Africa              Angola                                     0.75778
                                Mali                                       0.26074
                                Congo (Brazzaville)                        0.67866
                                Comoros                                    0.23906
                                Uganda                                     0.21102
                                Senegal                                    0.36498
                                Gabon                                      1.06024
                                Niger                                      0.06940
Southeastern Asia               Cambodia                                   0.46038
Sub-Saharan Africa              Tanzania                                   0.28520
                                Madagascar                                 0.20824
                                Central African Republic                   0.07850
                                Chad                                       0.34193
                                Guinea                                     0.17417
                                Ivory Coast                                0.46534
                                Burkina Faso                               0.25812
Southern Asia                   Afghanistan                                0.31982
Sub-Saharan Africa              Rwanda                                     0.22208
                                Benin                                      0.28665
Middle East and Northern Africa Syria                                      0.66320
Sub-Saharan Africa              Burundi                                    0.01530
                                Togo                                       0.20868

                                                           Family  \
Region                          Country
Western Europe                  Switzerland               1.34951
                                Iceland                   1.40223
                                Denmark                   1.36058
                                Norway                    1.33095
North America                   Canada                    1.32261
Western Europe                  Finland                   1.31826
                                Netherlands               1.28017
                                Sweden                    1.28907
Australia and New Zealand       New Zealand               1.31967
                                Australia                 1.30923
Middle East and Northern Africa Israel                    1.22393
Latin America and Caribbean     Costa Rica                1.23788
Western Europe                  Austria                   1.29704
Latin America and Caribbean     Mexico                    0.91451
North America                   United States             1.24711
Latin America and Caribbean     Brazil                    1.23287
Western Europe                  Luxembourg                1.21963
                                Ireland                   1.36948
                                Belgium                   1.28566
Middle East and Northern Africa United Arab Emirates      1.12575
Western Europe                  United Kingdom            1.28548
Middle East and Northern Africa Oman                      1.08182
Latin America and Caribbean     Venezuela                 1.25596
Southeastern Asia               Singapore                 1.02000
Latin America and Caribbean     Panama                    1.19850
Western Europe                  Germany                   1.29937
Latin America and Caribbean     Chile                     1.12447
Middle East and Northern Africa Qatar                     1.07860
Western Europe                  France                    1.26038
Latin America and Caribbean     Argentina                 1.24823
...                                                           ...
Southeastern Asia               Myanmar                   0.70905
Central and Eastern Europe      Georgia                   0.38562
Sub-Saharan Africa              Malawi                    0.41134
Southern Asia                   Sri Lanka                 1.01905
Sub-Saharan Africa              Cameroon                  0.88767
Central and Eastern Europe      Bulgaria                  1.10614
Middle East and Northern Africa Egypt                     0.74700
                                Yemen                     0.68093
Sub-Saharan Africa              Angola                    0.86040
                                Mali                      1.03526
                                Congo (Brazzaville)       0.66290
                                Comoros                   0.79273
                                Uganda                    1.13299
                                Senegal                   0.97619
                                Gabon                     0.90528
                                Niger                     0.77265
Southeastern Asia               Cambodia                  0.62736
Sub-Saharan Africa              Tanzania                  1.00268
                                Madagascar                0.66801
                                Central African Republic  0.00000
                                Chad                      0.76062
                                Guinea                    0.46475
                                Ivory Coast               0.77115
                                Burkina Faso              0.85188
Southern Asia                   Afghanistan               0.30285
Sub-Saharan Africa              Rwanda                    0.77370
                                Benin                     0.35386
Middle East and Northern Africa Syria                     0.47489
Sub-Saharan Africa              Burundi                   0.41587
                                Togo                      0.13995

                                                          Health (Life Expectancy)  \
Region                          Country
Western Europe                  Switzerland                                0.94143
                                Iceland                                    0.94784
                                Denmark                                    0.87464
                                Norway                                     0.88521
North America                   Canada                                     0.90563
Western Europe                  Finland                                    0.88911
                                Netherlands                                0.89284
                                Sweden                                     0.91087
Australia and New Zealand       New Zealand                                0.90837
                                Australia                                  0.93156
Middle East and Northern Africa Israel                                     0.91387
Latin America and Caribbean     Costa Rica                                 0.86027
Western Europe                  Austria                                    0.89042
Latin America and Caribbean     Mexico                                     0.81444
North America                   United States                              0.86179
Latin America and Caribbean     Brazil                                     0.69702

In [82]:
reprot_2015_df_mi.index

MultiIndex(levels=[['Australia and New Zealand', 'Central and Eastern Europe', 'Eastern Asia', 'Latin America and Caribbean', 'Middle East and Northern Africa', 'North America', 'Southeastern Asia', 'Southern Asia', 'Sub-Saharan Africa', 'Western Europe'], ['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Cyprus', 'Norway', 'Oman', 'Pakistan', 'Palestinian Territories', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somaliland region', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']],
           labels=[[9, 9, 9, 9, 5, 9, 9, 9, 0, 0, 4, 3, 9, 3, 5, 3, 9, 9, 9, 4, 9, 4, 3, 6, 3, 9, 3, 4, 9, 3, 1, 3, 3, 6, 4, 9, 9, 2, 4, 3, 3, 3, 3, 1, 1, 2, 2, 3, 4, 9, 3, 1, 3, 1, 1, 1, 3, 3, 1, 1, 6, 1, 4, 1, 3, 9, 9, 4, 1, 1, 8, 2, 1, 6, 6, 4, 1, 8, 7, 1, 7, 4, 1, 2, 8, 1, 1, 9, 1, 6, 8, 4, 1, 8, 1, 1, 8, 3, 6, 2, 8, 9, 4, 1, 3, 1, 4, 4, 7, 4, 1, 4, 8, 8, 8, 8, 7, 8, 3, 8, 7, 8, 8, 8, 8, 8, 1, 8, 6, 1, 8, 7, 8, 1, 4, 4, 8, 8, 8, 8, 8, 8, 8, 8, 6, 8, 8, 8, 8, 8, 8, 8, 7, 8, 8, 4, 8, 8], [135, 58, 37, 105, 24, 45, 99, 134, 100, 6, 64, 33, 7, 91, 150, 18, 82, 63, 12, 148, 149, 106, 153, 123, 109, 49, 27, 115, 46, 4, 36, 151, 29, 140, 119, 129, 88, 137, 73, 132, 142, 42, 52, 152, 124, 68, 128, 40, 9, 65, 15, 92, 110, 70, 125, 81, 101, 111, 11, 113, 86, 34, 80, 117, 67, 104, 35, 2, 72, 145, 90, 56, 43, 60, 154, 144, 74, 103, 14, 8, 107, 69, 94, 28, 156, 116, 121, 114, 76, 112, 126, 95, 83, 96, 1, 16, 78, 39, 75, 93, 133, 51, 77, 57, 55, 138, 143, 108, 10, 61, 147, 62, 127, 50, 157, 79, 59, 131, 54, 32, 98, 44, 122, 89, 71, 38, 5, 17, 97, 48, 85, 130, 23, 19, 41, 155, 3, 87, 31, 30, 146, 120, 47, 102, 22, 139, 84, 25, 26, 53, 66, 20, 0, 118, 13, 136, 21, 141]],
           names=['Region', 'Country'])

In [83]:
reprot_2015_df_mi = reprot_2015_df_mi.sort_index(level=0)

In [84]:
reprot_2015_df_mi.head()

                                        Happiness Score  Standard Error  \
Region                     Country
Australia and New Zealand  Australia              7.284         0.04083
                           New Zealand            7.286         0.03371
Central and Eastern Europe Albania                4.959         0.05013
                           Armenia                4.350         0.04763
                           Azerbaijan             5.212         0.03363

                                        Economy (GDP per Capita)   Family  \
Region                     Country
Australia and New Zealand  Australia                     1.33358  1.30923
                           New Zealand                   1.25018  1.31967
Central and Eastern Europe Albania                       0.87867  0.80434
                           Armenia                       0.76821  0.77711
                           Azerbaijan                    1.02389  0.93793

                                        Health (Life Expectancy)  Freedom  \
Region                     Country
Australia and New Zealand  Australia                     0.93156  0.65124
                           New Zealand                   0.90837  0.63938
Central and Eastern Europe Albania                       0.81325  0.35733
                           Armenia                       0.72990  0.19847
                           Azerbaijan                    0.64045  0.37030

                                        Trust (Government Corruption)  \
Region                     Country
Australia and New Zealand  Australia                          0.35637
                           New Zealand                        0.42922
Central and Eastern Europe Albania                            0.06413
                           Armenia                            0.03900
                           Azerbaijan                         0.16065

                                        Generosity  Dystopia Residual
Region                     Country
Australia and New Zealand  Australia       0.43562            2.26646
                           New Zealand     0.47501            2.26425
Central and Eastern Europe Albania         0.14272            1.89894
                           Armenia         0.07855            1.75873
                           Azerbaijan      0.07799            2.00073

In [87]:
reprot_2015_df_mi.index

MultiIndex(levels=[['Australia and New Zealand', 'Central and Eastern Europe', 'Eastern Asia', 'Latin America and Caribbean', 'Middle East and Northern Africa', 'North America', 'Southeastern Asia', 'Southern Asia', 'Sub-Saharan Africa', 'Western Europe'], ['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Cyprus', 'Norway', 'Oman', 'Pakistan', 'Palestinian Territories', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somaliland region', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']],
           labels=[[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9], [6, 100, 1, 5, 8, 11, 16, 19, 34, 36, 43, 48, 57, 70, 72, 74, 76, 81, 83, 92, 94, 113, 116, 117, 121, 124, 125, 138, 145, 147, 152, 28, 56, 68, 93, 128, 137, 4, 15, 18, 27, 29, 33, 39, 40, 42, 52, 54, 55, 67, 91, 101, 109, 110, 111, 132, 142, 151, 153, 2, 9, 41, 61, 62, 64, 69, 73, 77, 80, 95, 106, 108, 115, 119, 136, 143, 144, 148, 155, 24, 150, 22, 60, 75, 86, 97, 112, 123, 140, 154, 0, 10, 14, 59, 98, 107, 130, 3, 13, 17, 20, 21, 23, 25, 26, 30, 31, 32, 38, 44, 47, 50, 53, 66, 71, 78, 79, 84, 85, 87, 89, 90, 96, 102, 103, 118, 120, 122, 126, 127, 131, 133, 139, 141, 146, 156, 157, 7, 12, 35, 37, 45, 46, 49, 51, 58, 63, 65, 82, 88, 99, 104, 105, 114, 129, 134, 135, 149]],
           names=['Region', 'Country'])

In [94]:
%%timeit -n 1

print(np.mean(reprot_2015_df_mi.loc['Central and Eastern Europe']['Happiness Score']))
print(np.mean(reprot_2015_df_mi.loc['Eastern Asia']['Happiness Score']))

5.332931034482758
5.626166666666666
5.332931034482758
5.626166666666666
5.332931034482758
5.626166666666666
5.332931034482758
5.626166666666666
5.332931034482758
5.626166666666666
5.332931034482758
5.626166666666666
5.332931034482758
5.626166666666666
1.17 ms ± 101 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [106]:
%%timeit -n 1

reprot_2015_df_2 = pd.read_csv('./2015.csv')
np.mean(reprot_2015_df_2.loc[reprot_2015_df_2['Region'] == 'Central and Eastern Europe', 'Happiness Score'])

2.58 ms ± 292 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [89]:
reprot_2015_df_mi.loc['Eastern Asia', 'China']

Happiness Score                  5.14000
Standard Error                   0.02424
Economy (GDP per Capita)         0.89012
Family                           0.94675
Health (Life Expectancy)         0.81658
Freedom                          0.51697
Trust (Government Corruption)    0.02781
Generosity                       0.08185
Dystopia Residual                1.86040
Name: (Eastern Asia, China), dtype: float64

In [90]:
reprot_2015_df.head()

,Country,Region,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
Happiness Rank,,,,,,,,,,,
1,Switzerland,Western Europe,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
2,Iceland,Western Europe,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
3,Denmark,Western Europe,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
4,Norway,Western Europe,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
5,Canada,North America,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [91]:
# 设置层级索引
report_2015_df2 = report_2015_df.set_index(['Region', 'Country'])
report_2015_df2.head(20)

NameError: name 'report_2015_df' is not defined

In [ ]:
# level0 索引
report_2015_df2.loc['Western Europe']

In [ ]:
# 两层索引
report_2015_df2.loc['Western Europe', 'Switzerland']

In [ ]:
# 交换分层顺序
report_2015_df2.swaplevel()

In [ ]:
# 排序分层
report_2015_df2.sort_index(level=0)